
## INTRODUCTION TO PYTHON PROGRAMMING

Further reading materials

- [Python Introduction by W3Schools](https://www.w3schools.com/python/python_intro.asp)
- [Step-by-step guide to install Python on windows 10](https://www.simplilearn.com/tutorials/python-tutorial/python-installation-on-windows)

# Python Scalar Types
We begin by discussing the basic scalar types in Python. These are __INTEGERS, FLOATS AND BOOLEAN AND STRINGS__

### PYTHON NUMBERS
Integers are whole numbers. Float (floating point) numbers are numbers with a decimal point.

In [1]:
100

100

In [2]:
type(100)

int

In [3]:
1.2

1.2

In [4]:
type(1.0)

float

In [5]:
type(100.0)

float

In [6]:
type(100.)

float

### Basic Arithmetic

In [7]:
#Addition
1+1

2

In [8]:
# Subtraction
2-1

1

In [9]:
# Multiplication
2*3

6

### Division
3/3

In [10]:
# Division always returns floats!
1/1

1.0

In [11]:
# Powers
2 ** 3

8

In [12]:
2**(3 / 2)

2.8284271247461903

In [13]:
# Order of Operations
1 - (10 + 1)

-10

In [14]:
(1 + 2) * (1000+1)

3003

# Assigning Variables

In [15]:
a = 40

In [16]:
a

40

In [17]:
type(a)

int

In [18]:
a + 3

43

In [19]:
b = 5

In [20]:
a / b

8.0

In [21]:
# Reassignment
a = 1000

In [22]:
a + b

1005

### Reassignment with same variable

In [23]:
a

1000

In [24]:
# Keep in mind, if you run this more than once, you will keep running a = a+a! 
a = a + a

In [25]:
a

2000

In [28]:
a = a + a

In [29]:
a

8000

# Python Strings

**A string is an ordered sequence of characters**. Two key words here, **ordered** and **characters.** Ordered means that we will be able to use *indexing* and *slicing* to grab elements from the string.

## Creating strings.

In [30]:
# Comment. Won't show up when you run a script.

In [31]:
# Single or double quotes are okay.
"hello this is my first string"

'hello this is my first string'

In [32]:
"hello"

'hello'

In [33]:
# Keep in mind potential errors
'I'm a beginner in python programming!

SyntaxError: invalid syntax (<ipython-input-33-eca165bf5429>, line 2)

In [34]:
# Use another set of quotes to capture that inside single quote
" I'm a beginner in python programming! "

" I'm a beginner in python programming! "

## Basic Printing of Strings

In the jupyter notebook, a single string in a cell is automatically returned back. However, this is different than printing a string. Printing a string allows us to have multiple outputs. Let's see some useful examples:

In [35]:
'test'

'test'

In [36]:
'one'
'two'

'two'

In [37]:
print('one')
print('two')

one
two

In [38]:
print('this is a new line \n notice how this is on a new line')

this is a new line
 notice how this is on a new line

In [39]:
print("Python Code")
print('this is a tab \t notice how this prints with space between')

Python Code
this is a tab 	 notice how this prints with space between

## Indexing and Slicing

Since strings are *ordered sequences* of characters, it means we can "select" single characters (indexing) or grab sub-sections of the string (slicing).

### Indexing

Indexing starts a 0, so the string hello:

    character:    h    e    l   l   o
    index:        0    1    2   3   4
    
You can use square brackets to grab single characters

In [40]:
word = "hello"
print(word)

hello

In [41]:
word[0]

'h'

In [42]:
word[3]

'l'

Python also supports reverse indexing:

    character:        h     e     l    l    o
    index:            0     1     2    3    4
    reverse index:    0    -4    -3   -2   -1  
    
Reverse indexing is used commonly to grab the last "chunk" of a sequence.

In [43]:
word[-2]

'l'

### Slicing

We can grab entire subsections of a string with *slice* notation.

This is the notation:

    [start:stop:step]

Key things to note:

1. The starting index direclty corresponds to where your slice will start
2. The stop index corresponds to where you slice will go up to. **It does not include this index character!**
3. The step size is how many characters you skip as you go grab the next one.

Let's see some examples

In [44]:
alpha = 'abcdef'

In [45]:
# NOTICE HOW d IS NOT INCLUDED!
alpha[0:3]

'abc'

In [46]:
alpha[0:4]

'abcd'

In [47]:
alpha[2:4]

'cd'

In [48]:
alpha[2:]

'cdef'

In [49]:
alpha[:2]

'ab'

In [51]:
alpha[0:6:2]

'ace'

## Basic String Methods

Methods are actions you can call off an object usually in the form .method_name() notice the closed parenthesis at the end. Strings have many, many methods which you can check with the Tab functionality in jupyter notebooks, let's go over some of the more useful ones!

In [52]:
basic = "hello world I am still a beginner pythonista"

In [53]:
basic.upper()

'HELLO WORLD I AM STILL A BEGINNER PYTHONISTA'

In [54]:
basic.lower()

'hello world i am still a beginner pythonista'

In [55]:
# Preview, we'll learn about lists later on!
basic.split()

['hello', 'world', 'I', 'am', 'still', 'a', 'beginner', 'pythonista']

In [58]:
basic.split('i')

['hello world I am st', 'll a beg', 'nner python', 'sta']

# Print Formatting

You can use the .format() method off a string, to perform what is formally known as **string interpolation**, essentially inserting variables when printing a string.

In [59]:
user_name = "Newbie"
password = 12345
job = 'coder'

In [62]:
print("Welcome {} and your password is {} and I am a {}".format(user_name, password, job ))

Welcome Newbie and your password is 12345 and I am a coder

In [63]:
action = 'learn'

In [64]:
print("The {} needs to {}".format(user_name,action))

The Newbie needs to learn

In [65]:
print("The {a} needs to {b}".format(a=user_name,b=action))

The Newbie needs to learn

In [66]:
print("The {b} needs to {a}".format(a=user_name,b=action))

The learn needs to Newbie

### Formatting Numbers

In [67]:
num = 245.9083
print("The number is: {}".format(num))

The number is: 245.9083

In [68]:
print("The code is: {:.1f}".format(num))

The code is: 245.9

In [69]:
print("The code is: {:.2f}".format(num))

The code is: 245.91

In [70]:
print("The code is: {:.3f}".format(num))

The code is: 245.908

In [71]:
print("The code is: {:.4f}".format(num))

The code is: 245.9083

### Slice out " ext and we are going "

In [ ]:
test = "This is a really long piece of text and we are going use it for practice"

# Booleans

Booleans are data types that indicate a logical state of **True** or **False**. Python also has a placeholder object called **None**. Let's explore what these look like. We will work with them a lot more once we begin to learn about control flow with Python, but until then, let's just get to understand what they look like (notice the syntax highlighting).

In [72]:
# Booleans
a = True

In [73]:
a

True

In [74]:
type(a)

bool

In [75]:
b = False

In [76]:
type(b)

bool

Later on we will learn how comparison operators return booleans.

In [78]:
1 < 2

True

We can use None as a placeholder for an object that we don't want to reassign yet:

In [79]:
c = None

In [80]:
type(c)

NoneType

# Python Lists

We've learned that strings are sequences of characters. Similarly, lists are sequences of objects, they can hold a variety of data types in order, and they follow the same sequence and indexing bracket rules that strings do. They can also take in mixed data types. 

Let's explore some useful examples:

In [81]:
alist = []
type(alist)

list

In [82]:
my_list = [1,2,3]

In [83]:
my_list

[1, 2, 3]

In [84]:
my_list2 = ['a','b','c', 1, 2]

In [85]:
a = 100
b = 200
c = 300
my_list3 = [a,b,c]

In [86]:
my_list3

[100, 200, 300]

## Indexing and Slicing

This works the same as in a string!

In [87]:
mylist = ['a','b','c','d']

In [88]:
mylist[3]

'd'

In [89]:
mylist[0:3]

['a', 'b', 'c']

### The len function

Python has built in functions that you can call. We'll slowly introduce more of them as we need them. One useful built in function is the **len** function which returns back the length of an object.

In [90]:
len('string')

6

In [92]:
my_list

[1, 2, 3]

In [91]:
len(my_list)

3

## Useful List Methods

Methods are actions you can call off a function. Their typical format is:

    mylist = [1,2,3]
    mylist.some_method()
    
You must call the parenthesis to execute the method! Let's go through a few useful ones pertaining to lists.

In [93]:
mylist = [1,2,3]

In [94]:
mylist.append(6)

In [95]:
mylist

[1, 2, 3, 6]

In [96]:
mylist.pop()

6

In [97]:
mylist

[1, 2, 3]

In [98]:
mylist.append

In [99]:
mylist.append(4)

In [100]:
mylist

[1, 2, 3, 4]

In [101]:
mylist.append(10)
mylist.append(20)

In [102]:
mylist

[1, 2, 3, 4, 10, 20]

In [103]:
lastitem = mylist.pop()

In [104]:
lastitem

20

In [105]:
mylist

[1, 2, 3, 4, 10]

In [106]:
first_item = mylist.pop(0)

In [107]:
first_item

1

In [108]:
mylist

[2, 3, 4, 10]

In [109]:
mylist = [1,2,3]

In [110]:
# This method doesn't return anything.
# Instead it performs the action "in-place" , or on the list itself without returning anything.
mylist.reverse()

In [111]:
mylist

[3, 2, 1]

In [116]:
# Also in place
mylist.sort(reverse=True)

In [113]:
mylist

[3, 2, 1]

In [117]:
# THIS WON'T WORK!
result = mylist.reverse()

In [118]:
# Doesn't return anything
result

In [119]:
print(result)

None

In [120]:
mylist

[1, 2, 3]

In [121]:
mylist.insert(2,'middle')

In [122]:
mylist

[1, 2, 'middle', 3]

## Nested Lists

Lists can hold other lists! This is called a nested list. Let's see some examples.

In [123]:
new_list = [1,2,3,['a','b','c']]

In [124]:
new_list[3]

['a', 'b', 'c']

In [125]:
type(new_list)

list

In [126]:
new_list[3]

['a', 'b', 'c']

In [127]:
new_list[3][0]

'a'

In [128]:
list_1 = [2,3,"four", [20,30,40, ["one", "two", "three"]]]

In [129]:
list_1[3][3][1:]

['two', 'three']

# Dictionaries

So far we've only seen how to store data types in sequences like storing characters in a string or items in a list. But what if we want to store information another way? Python support Dictionaries which is a key-item data structure. 

The choice of deciding between sequences like a list and mappings like a dictionary often depends on the specific situation. As you become a stronger programmer, choosing the right storage format will become more intuitive.

Let's cover the basics of dictionaries!

## Creating a Dictionary

In [130]:
new_dict = {"item1": 1,
           "item2" : 2,
           "item3" : "Abuja"}

In [131]:
new_dict["item3"] = "lagos"

In [132]:
new_dict

{'item1': 1, 'item2': 2, 'item3': 'lagos'}

In [ ]:
# () Parenthesis
# [] Square bracket
# {} curly brackets

In [133]:
# Make a dictionary with {} and : to signify a key and a value
d = {'key1':'value1','key2':'value2'}

In [134]:
# Call values by their key
d['key1']

'value1'

In [135]:
d['key2']

'value2'

### Adding New Key-Item Pairs

In [136]:
d['new_key'] = 'new item'

In [137]:
d

{'key1': 'value1', 'key2': 'value2', 'new_key': 'new item'}

**Note: Dictionaries are unordered! *This may not be clear at first with smaller dictionaries, but as dictionaries get larger they won't retain order, which means they can not be sorted!* If you need order and the ability to sort, stick with a sequence, like a list!**

In [138]:
d = {'a':1,'z':2}

In [139]:
d

{'a': 1, 'z': 2}

In [140]:
d['new'] = 0

In [141]:
d

{'a': 1, 'z': 2, 'new': 0}

In [142]:
d['za'] = 'hello'

In [143]:
d

{'a': 1, 'z': 2, 'new': 0, 'za': 'hello'}

Dictionaries are very flexible in the data types they can hold, they can hold numbers, strings, lists, and even other dictionaries!

In [144]:
d = {'k1':10,
     'k2':'stringy',
     'k3':[1,2,3,],
     'k4':{'inside_key':[20,30,40, {"keyinside": [60,20, "thirty"]}]}}

In [145]:
d["k4"]["inside_key"][3]["keyinside"][1:]

[20, 'thirty']

In [146]:
d['k1']

10

In [147]:
d['k2']

'stringy'

In [148]:
d['k3']

[1, 2, 3]

In [149]:
d['k3'][0]

1

In [150]:
d['k4']

{'inside_key': [20, 30, 40, {'keyinside': [60, 20, 'thirty']}]}

In [151]:
d['k4']['inside_key']

[20, 30, 40, {'keyinside': [60, 20, 'thirty']}]

Error if you ask for a key that isn't there!

In [152]:
d['oops']

KeyError: 'oops'

Keep dictionaries in mind when you need to create a mapping and don't care about order! 

For example:

In [153]:
short_names = {"Company": "Retina-AI Health Inc.",
             "OAU": "Obafemi Awolowo University",
             "UNILAG": "University of Lagos",
             "High School": "Meadow Hall College"}

In [154]:
short_names["Company"]

'Retina-AI Health Inc.'

Another example of using Dictionaries...

In [155]:
pop_in_mil = {"Nigeria": 180,
              "USA":323,
              "Germany": 83,
              "India": 1324}

In [156]:
pop_in_mil["Nigeria"]

180

## Methods

In [157]:
short_names.values()

dict_values(['Retina-AI Health Inc.', 'Obafemi Awolowo University', 'University of Lagos', 'Meadow Hall College'])

In [158]:
short_names.keys()

dict_keys(['Company', 'OAU', 'UNILAG', 'High School'])

In [159]:
short_names.items()

dict_items([('Company', 'Retina-AI Health Inc.'), ('OAU', 'Obafemi Awolowo University'), ('UNILAG', 'University of Lagos'), ('High School', 'Meadow Hall College')])

# Tuples 

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. Meaning you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Let's see this in action:

## Creating a Tuple

You use parenthesis and commas for tuples:

In [160]:
t = (1,2,3)

In [161]:
type(t)

tuple

In [162]:
# Mixed data types are fine
t = ('a',1)

In [163]:
# Indexing works just like a list
t[0]

'a'

## Immutability

In [164]:
mylist = [1,2,3]

In [165]:
type(mylist)

list

In [166]:
# No problem for a list!
mylist[0] = 'new'

In [167]:
mylist

['new', 2, 3]

In [168]:
t = (1,2,3)

In [169]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

You also can't add items to a tuple:

In [170]:
t.append('NOPE!')

AttributeError: 'tuple' object has no attribute 'append'

## Tuple Methods

Tuples only have two methods available .index() and count()

In [171]:
t = ('a','b','c','a')

In [172]:
# Returns index of first instance!
t.index('a')

0

In [173]:
t.count('b')

1

## Why use tuples?

Lists and tuples are very similar, so you may find yourself exchanging use cases for either one. However, you should use a tuple for collections or sequences that shouldn't be changed, such as the dates of the year, or user information such as an address,street, city , etc.

# Sets

Another fundamental Data Structure is The Set!

Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works:

## Constructing Sets

In [174]:
x = set()

In [175]:
x.add(1)

In [176]:
x

{1}

In [177]:
x.add(2)

In [178]:
x

{1, 2}

Note the curly brackets. This does not indicate a dictionary!

A set has only unique entries. So what happens when we try to add something that is already in a set?

In [179]:
x.add(1)

In [180]:
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [181]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [182]:
set(mylist)

{1, 2, 3}

You can also quickly create a set with just {}

In [183]:
myset = {1,2,3,3,3,3,3,3}

In [184]:
myset

{1, 2, 3}

In [185]:
type(myset)

set

# Control Flow Basics
## if , elif , and else statements

Majority of the time when programming, we'll need to control the flow of our logic. Our program will want to perform an action in only certain cases, we can use the **if**, **elif**, and **else** statements to control for these cases. Let's work through some examples:

## Simple if Statement
The format for an if statement

    if some_condition:
        # Do Something

In [186]:
if 1<2:
    print('One is less than two')

One is less than two

In [187]:
if 1>2:
    print("One is greater than two")

Notice what happens, the indented block of code only runs when the if condition is True!

## if else Statement

Let's now add in an alternate action in case the **if** is not True using the **else** statement.

Notice the format and how the code blocks line up, this is crucial in Python! Code indentation let's Python know what blocks and statements correspond together.

In [188]:
if 1==1:
    print("One is equal to One")
else:
    print("First if was not True")

One is equal to One

In [189]:
if 1==2:
    print("One is equal to Two")
else:
    print("First if was not True")

First if was not True

In [193]:
saved_password = 123456
new_password = input("Enter your password")

if int(new_password) == saved_password:
    print("Password correct")
else:
    print("You're a criminal")

Enter your password123456
Password correct

In [194]:
new_password

'123456'

## if, elif, else 

Now let's imagine we have multiple conditions to check before the final **else** statement, this is where we can use the **elif** keyword to check for as many individual conditions as necessary:

In [195]:
if 2 == 0:
    print('First condition True')
elif 2 == 1:
    print("Second condition True")
elif 2 == 3:
    print("Third condition True")
else:
    print("None of the above conditions were True")

None of the above conditions were True

In [196]:
if 2 == 0:
    print('First condition True')
elif 2 == 1:
    print("Second condition True")
elif 2 == 100:
    print("Third condition True")
else:
    print("None of the above conditions were True")

None of the above conditions were True

Let's see what happens if we had multiple True conditions:

In [197]:
if 2 == 2:
    print('First condition True')
elif 2 == 2:
    print("Second condition True")
elif 2 == 2:
    print("Third condition True")
else:
    print("None of the above conditions were True")

First condition True

Notice how only the first True condition's code block will be executed, keep this in mind when writing your scripts!

# While Loops

A while loop will repeatedly execute a single statement or group of statements as long as the condition being checked is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

Code indentation becomes very important as we begin to work with loops and control flow.

In [201]:
a = 1

while a < 5:
    print("a is less than 10")
    a = a + 1

a is less than 10
a is less than 10
a is less than 10
a is less than 10

In [202]:
# Start by setting variable x to 0
x = 0

while x < 3:
    print('X is currently')
    print(x)
    print("Adding 1 to x")
    x = x + 1 #alternatively you could write x += 1

X is currently
0
Adding 1 to x
X is currently
1
Adding 1 to x
X is currently
2
Adding 1 to x

____
#### Note This!
Be careful with while loops! There is a potential to write a condition that always remains True, meaning you have an infinite running while loop. If this happens to you, you can stop/restart the kernel.

# break keyword


The break keyword allows you to "break" out of the loop that contains the break keyword. For example

In [203]:
x = 0

while x < 10:
    print(x)
    print('adding one to x')
    x = x + 1
    
    if x == 3:
        # This will cause to break out of the top loop 
        # Note that if statements don't count as loops
        break

0
adding one to x
1
adding one to x
2
adding one to x

Excellent work recruit! Let's move on to discuss for loops!

# for loop

A **for loop** acts as an iterator in Python, it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

Here's the general format for a for loop in Python:

    for item in object:
        statements to do stuff
        
The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code.

## for loop with a list

In [204]:
mylist = [1,2,3,4]

for num in mylist:
    print(num**2)

1
4
9
16

In [205]:
for totally_made_up in mylist:
    print(totally_made_up)

1
2
3
4

In [206]:
for num in mylist:
    print(num,end=' ')

1 2 3 4

In [207]:
for num in mylist:
    print("I am in a for loop")

I am in a for loop
I am in a for loop
I am in a for loop
I am in a for loop

## for loop with strings

In [208]:
for character in "This is a string":
    print(character )

T
h
i
s

i
s

a

s
t
r
i
n
g

In [209]:
mystring = 'This is a string'

for word in mystring.split():
    print(word)

This
is
a
string

## for loop with tuple

In [210]:
tup = (1,2,3,4)

for num in tup:
    print(num)

1
2
3
4

## tuple unpacking

In [211]:
list_of_tups = [(1,2),(3,4),(5,6),(7,8),(9,10)]

In [212]:
for x in list_of_tups:
    print(x)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [213]:
for x in list_of_tups:
    print(x[0])

1
3
5
7
9

In [214]:
for x in list_of_tups:
    print(x[1])

2
4
6
8
10

## for loop with dictionaries

In [215]:
my_dictionary = {'a':1,'b':2,'c':3}

Remember that dictionaries don't retain any order! So only loop through them with this in mind!

In [216]:
for item in my_dictionary:
    print(item)

a
b
c

In [217]:
for k in my_dictionary.values():
    print(k)

1
2
3

In [218]:
for k in my_dictionary.keys():
    print(k)
    print(my_dictionary[k])
#     print('\n')

a
1
b
2
c
3

----

## continue
The continue keyword can be a bit tricky to see its usefulness, but it allows you to continue with the top level loop, basicaly the opposite of break. It will take time before you realize a good situation to use it in, but here is a simple example:

In [219]:
scores = [30,40,50,60]

for num in scores:
    if num == 50:
        continue
    print("Your score is", num)

Your score is 30
Your score is 40
Your score is 60

In [220]:
for letter in 'code':
    if letter == 'e':
        continue
    
    print('Current Letter is:',letter)

Current Letter is: c
Current Letter is: o
Current Letter is: d

That is all for now recruit, excellent work!

# Useful Operators

Let's consider some few built-in functions and "operators" in Python.

## range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [221]:
range(0,11)

range(0, 11)

Note that this is a **generator** function, so to actually get a list out of it, we need to cast it to a list with **list()**. What is a generator? Its a special type of function that will generate information and not need to save it to memory. We haven't talked about functions or generators yet, so just keep this in your notes for now, we will discuss this in much more detail in later on in your training!

In [222]:
# Notice how 11 is not included, up to but not including 11, just like slice notation!
mylist = list(range(0,20))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [223]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [224]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

list(range(0,11,3))

[0, 3, 6, 9]

In [225]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## enumerate

enumerate is a very useful function to use with for loops. Let's imagine the following situation:

In [226]:
mylist = ['Bot', 'computer', 'laptop']

for i, item in enumerate(mylist):
    print("Item", i, " is", item)

Item 0  is Bot
Item 1  is computer
Item 2  is laptop

In [227]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

Keeping track of how many loops you've gone through is so common, that enumerate was created so you don't need to worry about creating and updating this index_count or loop_count variable

In [228]:
# Notice the tuple unpacking!

for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

## zip

Notice the format enumerate actually returns, let's take a look by transforming it to a list()

In [229]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

It was a list of tuples, meaning we could use tuple unpacking during our for loop. This data structure is actually very common in Python , especially when working with outside libraries. You can use the **zip()** function to quickly create a list of tuples by "zipping" up together two lists.

In [230]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [231]:
# This one is also a generator! We will explain this later, but for now let's transform it to a list
zip(mylist1,mylist2)

In [232]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [233]:
list1 = ["lagos", "abuja", "kano"]
list2 = [10, 13, 20,30]

list(zip(list1, list2))

[('lagos', 10), ('abuja', 13), ('kano', 20)]

To use the generator, we could just use a for loop

## in operator

We've already seen the **in** keyword durng the for loop, but we can also use it to quickly check if an object is in a list

In [234]:
'v' in 'abuja'

False

In [235]:
'x' in ('x','y','z')

True

In [236]:
'x' in [1,2,3]

False

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [241]:
mylist = [10,20,3,30,120,40,100]

In [242]:
min(mylist)

3

In [243]:
max(mylist)

120

## random

Python comes with a built in random library. There are a lot of functions included in this random library, so we will only show you two useful functions for now.

In [275]:
from random import shuffle

In [277]:
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)

In [253]:
mylist

[30, 100, 3, 20, 10, 120, 40]

In [254]:
from random import randint

In [273]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

10

In [274]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

99

## Comparison Operators

We've seen comparison operators previously, but let's quickly go through all of them:

In [278]:
# Less Than
1 < 2

True

In [279]:
# Great Than
1 > 2

False

In [280]:
# Check for equality
1 == 1

True

In [281]:
# Check for inequality
1 != 1

False

In [285]:
# Less than or equal to
2 <= 3

True

In [286]:
# Greater than of equal to
1 >= 1

True

## Logical Operators

Now that we know comparison operators, we can use logical operators to combine multiple comparisons (in general, multiple boolean statements)

### and

Use this when you want to check that both statements are **True**

In [287]:
1 == 1 and 2 == 2

True

In [288]:
1 == 1 and 2 ==1

False

### or

Use this when only one statement needs to be **True**

In [290]:
1 == 1 or 2 == 100000000000

True

### not
The not operator can be thought of as reversing the boolean its given

In [291]:
not 1 == 1

False

In [292]:
# Not very common to see something like this, but it still works
1 == 1 and not 2 == 3

True

In [293]:
# A more realistic example
answer = 'no'

if 1 == 1 and not answer == 'yes':
    print("Success!")

Success!

In [294]:
# Same as
answer = 'no'
if 1 ==1 and answer != 'yes':
    print("Success!")

Success!

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.
List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line for loop built inside of brackets. For a simple example:

## Simple list comprehension

If you find yourself using a for loop to only .append() to a list, you might want to consider a list comprehension, for example

In [295]:
mylist = []
for let in 'word':
    mylist.append(let)

In [296]:
mylist

['w', 'o', 'r', 'd']

### Using a list comprehension

In [297]:
# Grab every letter in string
myletters = [let for let in 'word']

In [298]:
myletters

['w', 'o', 'r', 'd']

Let's go through some more complex examples

In [299]:
squares = [x**2 for x in range(0,11)]

In [300]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

We can also use if statements in a list comprehension

In [301]:
evens = [x for x in range(0,10) if x%2 == 0]

In [302]:
evens

[0, 2, 4, 6, 8]

You can also do an if/else statement in a list comprehension, but keep in mind, at a certain point you will sacarafice readability, which is a big part of Python. If you are having trouble figuring out how to put something in a list comprehension, just use a for loop instead, its almost always just as efficient.

Keep in mind the ordering gets changed when adding the if/else statement. In general, such complicated list comprehensions are probably best avoided to maintain readability!

In [304]:
mylist

[0, 'not even', 2, 'not even', 4, 'not even', 6, 'not even', 8, 'not even']

In [303]:
mylist = [x if x%2 == 0 else 'not even' for x in range(0,10) ]

##### That will be all for this basic introductory course on Python

## Practice on your own

1. Write a Python program to display the first and last colors from the following list

color_list = ["Red","Green","White" ,"Black"] <hr />

2. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them <hr />

3. Write a Python program that will accept the base and height of a triangle and compute the area. <hr />

 4. Use list comprehension to contruct a new list but add 6 to each item. 
 
 sample =[44,54,64,74,104] <hr />

5. Write a for loop which print "Hello!, " plus each name in the list. i.e.: "Hello!, Sam"

lst=["Sam", "Folu", "Micha", "Dave", "Wyatt", "Emma", "Victor"] <hr />

6. Using a for loop and .append() method append each item with a Dr. prefix to the lst.

lst=["Phil", "Oz", "Seuss", "Dre"]<hr />